body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  color: teal;
}

p{
  font-weight: bold;
  color: #333;
}

input[readonly]{
  background-color: lightgrey;
}

.legend {
  font-weight: bold;
  color: black
}

button {
  padding: 0.5rem 1rem;
  width: 12em;
  height: 2.5em;
}

/* table */

table {
  border-collapse: collapse;
}

thead {
  background-color: rgb(0, 0, 255, 0.8);
}

th, td {
  padding: 0.5rem 1rem;
  text-align: left;
}

tr {
  color: rgb(9, 9, 31);
}

/* form  */

.form {
  display: grid;
  align-items: center;
  justify-items: center;  
}

.form label {
  font-weight: bold;
  color: #333;
  display: inline-block;
  width: 150px;
  text-align: right;
}

.error {
  border: dashed 1px red;
  padding:1em;
}

.error {
  border: solid 1px green;
  padding:1em;
}

