<!-- Same menu.ejs suitable for Finnish and English  -->
<%- include('head', {language, title, header}) %>
    <a href="/en"><button>ENG</button></a>
    <a href="/fi"><button>FI</button></a>
  </main>  
</body>
</html>