.hidden{
    display: none;
}

main {
    display:grid;
    align-items: center;
    justify-items: center;
}

#submit{
    margin:1em;
}

.error{
    color:red;
    border:dashed red 1px;
    padding:1em;
}

.info{
    color:green;
    border: solid green 1px;
    padding:1em;
}