<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Find a turtle </title>
</head>
  <body>
    <h1> Find a turtle </h1>
    <form action=" <%= action %> " method="POST">
      <div>
        <label for="turtleNumber"> Turtle number</label>
        <input type="text" id="turtleNumber" name="turtleNumber">
        <button type="submit">Submit</button>
      </div>
    </form>
    <a href="/">Back to home page</a>  
  </body>
</html>